body {
  font-family: "Montserrat", Helvetica, sans-serif;
  font-weight: 400;
  color: #4d4d4d;
  margin: 0 0 40px;
}

h1 {
  font-size: 35px;
  letter-spacing: 0.25px;
  color: #b46060;
  margin-bottom: 60px;
  text-align: center;
}

h2,
a {
  color: #b46060;
}

a {
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.5px;
}

a:hover {
  color: #ffbf9b;
}

footer {
  text-align: center;
  font-size: 13px;
}

.page {
  max-width: 960px;
  margin: 0 auto;
}

.navbar-brand {
  font-family: "Josefin Slab", Georgia, serif;
  font-size: 35px;
  font-weight: 700;
}

.recipes li {
  text-align: center;
  list-style: none;
}

.card {
  margin: 0 auto;
}

.card-title {
  font-weight: bold;
  letter-spacing: 0.5px;
}

.recipe-photo {
  text-align: center;
  margin-bottom: 40px;
}
