body {
  font-family: Arial, Helvetica, sans-serif;
  color: #4d4d4d;
  margin: 40px auto;
}

h1 {
  font-size: 35px;
  letter-spacing: 0.25px;
  color: #b46060;
  margin-bottom: 60px;
  text-align: center;
}

h2,
a {
  color: #b46060;
}

a {
  font-weight: bold;
}

a:hover {
  color: #ffbf9b;
}

footer {
  text-align: center;
  font-size: 13px;
}

.page {
  max-width: 960px;
  margin: 0 auto;
}

.recipes li {
  text-align: center;
  list-style: none;
}
